

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .5rem 1rem;
  border-radius: var(--radius-s);
  border: 0.1rem solid var(--border);
  color: var(--text);
  font-size: clamp(1.2rem, 1.2vw, 1.3rem);

  &.primary {
    background: var(--primary);
    color: var(--primary-contrast);
    border-color: var(--primary);
  }

  &.ghost {
    background: var(--border);
    color: var(--text);

  }
  &.danger {
    background-color: var(--danger);
  }
}
