/* =========================
   Form Elements
========================= */
input,
select,
textarea {
    width: 100%;
    padding: 1rem 1.2rem;
    border: 0.1rem solid var(--border);
    border-radius: var(--radius-s);
    background: var(--bg);
    color: var(--text);
    font-size: 1.4rem;
    transition:
        border-color 0.16s ease,
        box-shadow 0.16s ease,
        background-color 0.2s ease,
        color 0.2s ease;

    &::placeholder {
        color: var(--muted);
    }

    &:disabled {
        background: var(--surface-alt);
        color: var(--muted);
        cursor: not-allowed;
    }
}



textarea {
    min-height: 12rem;
    resize: vertical;
}

/* =========================
   Focus / Hover States
========================= */
input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: var(--focus);
    box-shadow: 0 0 0 0.3rem rgba(91, 159, 255, 0.15);
    background-color: #fff;
}

/* hover 효과 (포커스 전의 subtle한 인터랙션) */
input:hover:not(:disabled),
select:hover:not(:disabled),
textarea:hover:not(:disabled) {
    border-color: #cfd5db;
}

label {
    display: block;
    /* 블록으로 만들어 입력창 위에 정렬 */
    font-size: 1.35rem;
    /* 강조 */
    color: var(--muted);
    margin-bottom: 0.4rem;
    /* 아래 입력창과 간격 */
    letter-spacing: -0.01em;
    cursor: pointer;
    /* 클릭 시 포커스 이동 느낌 */
    transition: color 0.2s ease;
    margin: 1rem 0 0;
    // text-align: left ;
}

/* =========================
   File Input (선택 적용)
========================= */
input[type="file"] {
    padding: 0;
    /* 내부 패딩 제거 */
    border: none;
    /* 외곽선 제거 */
    background: transparent;
    font-size: 0;
    position: relative;
    border-radius: var(--radius-s);
    background: var(--warning);
    // color: var(--bg);
    padding: 1rem 1.2rem;
    margin-top: 1rem;
    cursor: pointer;

    &::after {
        display: block;
        content: '오늘의 메모 올리기';
        font-size: 1.2rem;
        text-align: center;
    }

    /* 실제 보이는 '버튼' */
    &::file-selector-button {
        display: none;
        width: 100%;
        border: 0;
        color: var(--text);
        letter-spacing: .02em;
        cursor: pointer;
        transition:
            transform .02s ease-in-out,
            background-color .16s ease,
            box-shadow .16s ease;
    }


    &:active::file-selector-button {
        transform: translateY(0);
        box-shadow: var(--shadow-soft)
    }

    &:focus-visible::file-selector-button {
        outline: .2rem solid var(--focus);
        outline-offset: .2rem;
        background-color: var(--focus);
    }

    &:disabled::file-selector-button {
        background-color: var(--focus);
        color: var(--muted);
        cursor: not-allowed;
        box-shadow: none;
    }
}

.file-name {
    font-size: 1.2rem;
    color: var(--muted);
}